<p ng-if="!messageArr.length">No content available currently for this page</p>
<br>
<div class="row">
<div class="col-md-4" id="secondCol">
    <div class="alert alert-success alert-dismissible" role="alert" ng-show="showAlert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="closeAlert()"><span aria-hidden="true">&times;</span></button>
        <strong>Message Deleted successfully</strong> 
      </div>
<table class="table table-hover">
    <tr ng-repeat="msg in messageArr track by $index">
        <td ui-sref="mail.folder.preview({messageId: $index})">{{msg.content}}</td>
        <td ui-sref="mail.folder.preview({messageId: $index})">{{msg.subject}}</td>
        <td ui-sref="mail.folder.preview({messageId: $index})"><input type="checkbox" name="checkbox" id="checkbox" ng-model="msg.isDeleted"></td>
        <td><button><i class="fa fa-trash" aria-hidden="true" ng-click="deleteMsg($index)"></i></button></td>
    </tr>
</table>
</div>
<div class="col-md-4">
    <div ui-view="time" ng-show="messageArr.length">
    </div>
    <div ui-view="individualMsg"></div>
</div>
</div>