<div class="modal-body">
    <div class="form-group">
        <label for="control-label col-sm-2">Content: </label>
        <input type="text" class="form-control" ng-model="content">
        <label for="control-label col-sm-2">Subject: </label>
        <input type="text" class="form-control" ng-model="subject">
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>